.build-item{
    fill: #ad25e3;
    stroke: #9f148a;
    stroke-width: 5px;
    fill-opacity: 0;
    stroke-opacity: 0;
    transition: .4s;

    &:hover{
        fill-opacity: 0.3;
        stroke-opacity: 1;
        cursor: pointer;
    }
}

.information {
    color: #fff;
    background: #121212;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        font-size: 24px;
    }

    &-list {
        list-style: none;
        display: flex;
        gap: 18px;
        text-align: center;
    }

}

.list-item {
    display: flex;
    min-width: 235px;
    flex-direction: column;

    b {
        font-size: 18px;
    }
}