.build-item, .floor-item{
    fill: #ad25e3;
    stroke: #9f148a;
    stroke-width: 5px;
    fill-opacity: 0;
    stroke-opacity: 0;
    transition: .4s;

    &:hover{
        fill-opacity: 0.3;
        stroke-opacity: 1;
        cursor: pointer;
    }

    &.sold:hover{
        fill: #ff0000;
        stroke: #f60000;
        cursor: not-allowed;
    }
}

.information {
    color: #fff;
    background: #121212;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        font-size: 24px;
    }

    &-list {
        list-style: none;
        display: flex;
        gap: 18px;
        text-align: center;
    }

}

.list-item {
    display: flex;
    min-width: 235px;
    flex-direction: column;

    b {
        font-size: 18px;
    }
}

.buttons{
    display: flex;
    gap: 50px;
}

.btn {
    padding: 12px 24px;
    border: none;
    cursor: pointer;

    &.btn-primary {
        background-color: chocolate;
        color: #fff;
    }

    &.btn-secondary {
        background-color: chartreuse;
    }

    &:hover {
        opacity: .8;
    }
}

