* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #2f3624;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}