///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;
$hover-link: #ffae4a;


$flat-stroke:#05FF00;
$flat-fill:#04ff006e;
$flat-active-stroke: #11cc00fd;
$flat-active-fill: #04d4006e;
$flat-action: #80D34E;
$flat-booking: #6B68FF;
$flat-sold: #D34E4E;
$flat-free: #00DEFC;