<header>
    <div class="container">
        <a href="index.html" class="logo">
        <img src="assets/img/logo.png" alt="logo">
    </a>
        <nav class="header-navigation">
            <a href="index.html">Genplan</a>
            <a href="build-item.html">build-item</a>
            <a href="floor-item.html">floor-item</a>
            <a href="flat-item.html">flat-item</a>
           
        </nav>

        <div class="buttons">
            <button class="btn btn-primary" data-triger-modal="sold">sold</button>
            <button class="btn btn-secondary" data-triger-modal="loginSuccess">loginSuccess</button>
            <button class="btn btn-primary" data-triger-modal="registrationSuccess">registrationSuccess</button></div>
        </div>
</header>
